<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rnd.materialdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StandAloneToolbar"></activity>
        <activity android:name=".ActionBarToolbar"></activity>
        <activity android:name=".ContextualMenu"></activity>
        <activity android:name=".SnackBarActivity"></activity>
        <activity android:name=".FloatingButtonActivity"></activity>
        <activity android:name=".animation.MainAnimationActivity"></activity>
        <activity android:name=".animation.RippleAnimationActivity"></activity>

    </application>

</manifest>